body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.shop-bag {
  width: 450px;
  padding: 20px;
}
table {
  margin-bottom: 20px;
  width: 100%;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #000;
  padding: 10px 5px;
}
th {
  background-color: #ddd;
}
tr:nth-child(even) {
background-color: #ecebeb;
}
p {
  margin: 5px;
}
label {
  display: inline-block;
  margin-right: 15px;
}
.margin-r {
  margin-right: 15px;
}